<div class="container">
  <header class="jumbotron">
    <h2>Q and A   -   <span id="home-link">{{#link-to 'index'}}Home Page{{/link-to}}  {{#link-to 'display-favorites'}} Favorites{{/link-to}}</span></h2>

<hr>
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
