<h1>Welcome to {{model.questionContent}}</h1>

{{new-answer save2="save3" question=model}}

{{question-tile question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
{{update-question question=model update="update"}}
